!!!
%html
  %head
    %title Hn
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      =render "layouts/header"
      #content
        = yield


    -if user_signed_in?
      :javascript
        $(document).ready(function () {
        window.LoadCurrentUser(#{current_user.to_json})
        });

    .overlay
      .modal-holder
        .modal-content